<aside class="h-full bg-white border-r border-gray-200">
  <div
    class="transition-all duration-300"
    [class.w-72]="!isCollapsed"
    [class.w-20]="isCollapsed"
  >
    <nav class="px-2 py-2 space-y-2">
      <a
        *ngFor="let it of menuItems; trackBy: trackByRoute"
        [routerLink]="it.route"
        (click)="onItemClick()"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="group relative flex items-center text-gray-800 hover:bg-gray-100 transition-all duration-300"
        [ngClass]="{
          'justify-start gap-3 px-4 py-3 rounded-full': !isCollapsed,
          'justify-center w-12 h-12 mx-auto rounded-full': isCollapsed
        }"
      >
        <span class="flex items-center justify-center">
          <img
            [src]="iconPath(it.icon)"
            class="h-6 w-6 object-contain"
            alt="icono"
          />
        </span>

        <span *ngIf="!isCollapsed" class="text-base font-medium">
          {{ it.label }}
        </span>

        <span
          *ngIf="isCollapsed"
          class="absolute left-16 bg-gray-800 text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition whitespace-nowrap z-50"
        >
          {{ it.label }}
        </span>
      </a>
    </nav>
  </div>
</aside>