<div class="rounded-2xl border bg-white p-4 shadow-sm">
  <div class="flex items-center justify-between mb-3">
    <h2 class="font-semibold text-slate-800">Publicar</h2>

    <!-- Selector tipo -->
    <select
      [(ngModel)]="tipo"
      class="text-xs border rounded-lg px-2 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-500">

      <option [ngValue]="0">Anuncio</option>
      <option *ngIf="rol !== 'alumno'" [ngValue]="1">Tarea</option>
      <option *ngIf="rol !== 'alumno'" [ngValue]="2">Examen</option>
    </select>
  </div>

  <!-- Título (solo tarea/examen) -->
  <input
    *ngIf="tipo !== 0"
    [(ngModel)]="titulo"
    type="text"
    placeholder="Título..."
    class="w-full mb-3 rounded-xl border border-slate-200 p-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
  />

  <!-- Contenido -->
  <textarea
    [(ngModel)]="contenido"
    class="w-full resize-none rounded-xl border border-slate-200 focus:outline-none focus:ring-2 focus:ring-indigo-500 p-3 text-sm"
    rows="4"
    placeholder="Escribe aquí...">
  </textarea>
  <!-- Adjuntos -->
  <div class="mt-3">
    <input
      type="file"
      multiple
      (change)="onArchivosSeleccionados($event)"
      class="block w-full text-sm text-slate-600"
    />

    <div *ngIf="archivos.length" class="mt-2 text-xs text-slate-700">
      <div class="flex items-center justify-between" *ngFor="let f of archivos; let i = index">
        <span>{{ f.name }}</span>
        <button type="button" (click)="quitarArchivo(i)" class="text-red-600 hover:underline">
          Quitar
        </button>
      </div>
    </div>
  </div>

  <!-- Fecha entrega (solo tarea/examen) -->
  <input
    *ngIf="tipo !== 0"
    [(ngModel)]="fechaEntrega"
    type="datetime-local"
    class="w-full mt-3 rounded-xl border border-slate-200 p-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
  />

  <!-- Puntuación  -->
  <input
    *ngIf="tipo !== 0"
    [(ngModel)]="puntuacion"
    type="number"
    placeholder="Puntos"
    class="w-full mt-3 rounded-xl border border-slate-200 p-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
  />

  <div class="mt-3 flex items-center justify-end gap-2">
    <button
      (click)="publicar()"
      class="px-4 py-2 rounded-xl bg-indigo-600 hover:bg-indigo-700 text-white text-sm font-medium transition">
      Publicar
    </button>
  </div>
  <p 
    *ngIf="errorMsg" 
    class="mt-4 text-center text-sm font-medium text-red-600 bg-red-100 border border-red-300 rounded-md py-2 px-3">
    {{ errorMsg }}
  </p>
</div>
